html, body {
  font-family: 'Exo 2', sans-serif;
  color: white;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
}

header {
  height: 150px;
}

footer {
  text-align: center;
  height: 100px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  -webkit-column-break-inside: avoid;
  column-count: 2;
}

li {
  border: 1px solid white;
  background-color: #191919;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  opacity: 0.5;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;

}

input {
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 100px;
  border: 1px solid white;
  background-color: #191919;
  font-size: .8em;
  color: white;
  opacity: 0.5;
  display: block;
}

li:hover, button:hover .submit:hover{
  opacity: 1;
}

a {
  color: white;
}

.container {
  overflow-y: hidden;
}

.library-view {
  background-image: url(img/transparent-rainbow-1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
}

.game-view {
  background-image: url(img/transparent-rainbow-2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
}

.custom-file-upload {
  padding: 10px 150px 10px 250px;
  display: inline-block;
  cursor: pointer;
}

#score-box {
  float: left;
  text-align: center;
  width: 20%;
  margin-top: 20px;
}

#current-score, #remaining-time {
  font-size: 4em;
}

#time-box {
  float: right;
  text-align: center;
  width: 20%;
  margin-top: 20px;
}

#game {
  width: 800px;
  margin: -50px auto auto auto;
  border: 3px solid white;
  background-color: #191919;
}

#upload {
  width: 50%;
  height: 200px;
  margin: auto;
  padding: 50px;
  text-align: center;
}

#path-box {
  width: 100%;
  height: 30px;
  border: 1px solid white;
  background-color: #191919;
  opacity: 0.5;
}

#library-list {
  text-align: center;
  width: 75%;
  margin: auto;
/*  overflow: hidden;
  position: relative;*/
}

.min {
  padding-right: 20px;
}
